static/vendor/** linguist-vendored
static/scss/** linguist-vendored
static/css/** linguist-vendored
static/fonts/** linguist-vendored
static/vendors/** linguist-vendored
static/js/** linguist-vendored
