<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/tbcoyl_favicon.png')}}"/>
	<title>Admin panel | TBCOYL</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
</head>
<body>

<div class="content text-center">
	<a href="users" type="button" role="button" class="btn btn-lg btn-primary">Users</a>	
	<a href="links" type="button" role="button" class="btn btn-lg btn-primary">Links</a>	
</div>

	<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>