<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/tbcoyl_favicon.png')}}"/>
	<title>Admin panel | TBCOYL</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/jvectormap/jquery-jvectormap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/jvectormap/jquery-jvectormap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
</head>
<body>

{% if user.status == 1 %}
<div class="alert alert-warning text-center" role="alert">
	<span>This user is disabled. Click "Enable" button to re-enable</span>
</div>
{% elif user.status == -1 %}
<div class="alert alert-danger text-center" role="alert">
	<span>This user has been banned.</span>
</div>
{% endif %}


<div class="content">
	<form action="{{request.path}}/ban" method="POST">
		<button class="btn btn-danger" type="submit">
			{% if user.status == -1 %}Unban{% else %}Ban{% endif %}
		</button>
	</form>


	<div class="row text-center">
		<div class="col-xl-4 col-sm-3 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="col">
						<span>{{user.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-3 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="col">
						<span>{{user.email}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-3 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div class="col">
						<span>Created on {{user.created}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive custom-table-responsive">
		<table class="table custom-table">
			<thead>
				<tr>
					<th scope="col" style="padding-right: 25px;">
						<label class="control control--checkbox">
							<div class="control__indicator bg-info"></div>
						</label>
					</th>
					<th scope="col">Short link</th>
					<th scope="col">Full link</th>
					<th scope="col">Views</th>
					<th scope="col">Created on</th>
					<th scope="col">Expires on</th>
				</tr>
			</thead>
			<tbody>
				{% for link in user.links %}
				<tr scope="row" onclick="window.location='/admin/links/{{link.code}}'">
					<th scope="row">
						<label class="control control--checkbox">
							{% if link.status == 0 %}
							<div class="control__indicator bg-success"></div>
							{% elif link.status == 1 %}
							<div class="control__indicator bg-warning"></div>
							{% elif link.status == -1 %}
							<div class="control__indicator bg-danger"></div>
							{% endif %}
						</label>
					</th>
					<td><a href="https://{{link.fullurl}}" target="_blank">{{link.fullurl}}</a></td>
					<td><a href="{{link.source_link}}" target="_blank">{{link.source_link[0:60]}}{{"..." if link.source_link|length > 60 else ""}}</a></td>
					<td>{{link.data.views}}</td>
					<td>{{link.data.created}}</td>
					<td>{{link.data.expires or "Never"}}</td>
				</tr>
				<tr class="spacer"><td colspan="100"></td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


	<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendors/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>

	<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>